@*@page
@model ConfirmEmailModel*@
@*@{
    ViewData["Title"] = "ConfirmEmail";
}*@

@*<h1>@ViewData["Title"]</h1>*@
<h1>EPostanız Başarıyla Onaylanmıştır</h1>
@*<partial name="_StatusMessage" model="Model.StatusMessage" />*@
